{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="outline-div container-fluid">
  <!-- row -->
  <div class="row">
    <!-- col -->
    <div class="outline-div col col-sm-6 col-md-6 text-center res-div about"
      style="background-color: #333333; padding-bottom: 100px; color: antiquewhite;">
      <h2 class="font-weight-bold content">Take your first </h2>
      <h2 class="font-weight-bold content">online class Toaday!</h2>
      <p class="content">We specialise in finding the best ESL teachers and provide them with the best platform to teach to their full potential.</p>
      <a href="{% url 'brand-upload' %}" class="button-31">Join a Free Trial Class!</a>
    </div>
    <div class="outline-div col col-sm-6 col-md-6 text-center res-div about"
      style="background-color: #171717; padding-bottom: 100px;  z-index: 99; color: antiquewhite;">
      <h2 class="font-weight-bold text-center">Start Toaday</h2>
      <p class="font-weight-bold">and connect with over 100 Qualified ESL teachers.</p>
      <div class=" outline-div egg col col-sm-6 col-md-6 res-div"><img class="pop-image "
          src="{% static 'images/ro.png' %}" alt="image of Moana charging Ahead"></div>
    </div>
    <div class="outline-div w-100" style="background-color: rgb(30, 138, 174);"></div>
  </div>
</div>
<div class="outline-div container-fluid">
  <div class=" outline-div row">
    <div class="outline-div col col-sm-12 col-md-12 text-center text-white"
      style="background-color: rgb(0, 0, 0); z-index: 1000; width: 100%;">
      <p class="text-center w-responsive banner"><strong>Invite 2 Friends and get 1 lesson free</strong></p>
    </div>
  </div>
  <div class="row outline-div">
    <div class="col col-sm-12 col-md-12 text-center outline-div "
      style="background-color: rgb(255, 255, 255); padding-bottom: 100px; padding-top:100px; font-size: 2rem;">
      <span style="padding: 15px;">Your Dedication</span><span>+ </span><span style="padding: 15px;">Our Platform</span><span>= </span><span style="padding: 15px;">Your Success!</span>
      <br>
      <!-- start -->
      <span><img class="prod" src="{% static 'images/333.png' %}" alt="image of a product"></span>
      <!-- end -->
      <span>+</span><span><img class="site" src="{% static 'images/444.png' %}"
          alt="icon image of a website"></span><span>=</span><span><img class="dream"
          src="{% static 'images/222.png' %}" alt="graphic illustration of a dream"></span>
    </div>
  </div>
</div>
<div class="container-fluid outline-div">
  <div class="row outline-div" style="background-color: red;">
    <div class="col col-sm-6 col-md-6 text-center outline-div"
      style="background-color: #000000; padding-bottom: 100px; padding-top:100px;">
      <h1 style="color: white;">Students</h1>
    </div>
    <div class="col col-sm-6 col-md-6 text-center outline-div"
      style="background-color: #373737; padding-bottom: 100px; padding-top:100px;">
      <h1 style="color: white;">Teachers</h1>
    </div>
    <div class="w-100 outline-div" style="background-color: rgb(30, 138, 174);"></div>
  </div>
</div>

{% endblock %}